body{

background: #171717; ;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

}
section.sesion{

background-image: url("https://tse1.mm.bing.net/th?id=OIP.hETXdJTpf52ObX8iz8kbTAHaE8&pid=Api&P=0&h=180") ;
background-repeat: no-repeat;
width: 600px;
height: 440px;
margin-left:350px;
background-size: cover;
display: flex;
margin-top: 80px;
border-radius: 10px ;
box-shadow: 0px 0px 90px rgb(255, 255, 255);
overflow: hidden;
}



form{

background-color: rgb(255, 255, 255);
box-sizing: border-box;
width: 50%;
padding: 60px;
flex-direction: column;
display: flex;
gap: 20px;


}

h1{
text-align: center;
font-size: 32px;
margin-bottom: 20px;
text-transform: uppercase;
margin-top: -60px;
padding: 20px;
}


label{

font-size: 14px;
letter-spacing: 1px;
text-transform: uppercase;
color: rgb(100, 100, 100);
}

input{

width: 200px;
border: none;
border-bottom: 2px solid #0e0e0e;
padding: 10px 0px;
outline: none;
transition: transform 1s;
}
input:focus{

border-bottom: 2px solid #6a00ff ;
transform: translateY(-2px) scale(1.08);

}

button{


margin-top: 30px;
width: 200px;
border:none;
color: white;
background-color: black;
text-transform: uppercase;
letter-spacing: 4px;
font-weight: bold;
padding: 10px;
box-shadow: 2px 2px 0px #e0c445;
transition: transform 1s;
}

button:hover{
  transform: translateY(-2px) scale(1.2);
background: #ffd000;
color: #333;

}

